<ul class="social-links">
  <li>
    <a href="https://x.com/Stron__" target="_blank">X (twitter) </a>
  </li>
  <li>
    <a href="https://www.youtube.com/@Stron_" target="_blank">Youtube</a>
  </li>
  <li>
    <a href="https://portfolio.stron.dev/" target="_blank">Portfolio</a>
  </li>
  <li>
    <a href="https://github.com/elstron" target="_blank">Github</a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/jose-luis-b-leyva/" target="_blank">LinkedIn</a>
  </li>
</ul>

<style>
  ul {
    flex-wrap: wrap;
    display: flex;
    gap: 1rem;
    grid-area: redes;
    justify-content: center;
  }

  ul,
  li {
    list-style: none;
  }
  a {
    color: beige;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    color: var(--accent-color);
  }
</style>
