---
import '@fontsource/press-start-2p';
import '@fontsource-variable/geist-mono/wght.css';
import BaseHead from '../components/BaseHead.astro';

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --accent-color: #f9f871;
  }

  body {
    font-family: 'Geist Mono Variable', monospace;
  }
  main {
    width: calc(100% - 2em);
    max-width: 100%;
    margin: 0;
  }
  .hero-image {
    width: 100%;
  }
  .hero-image img {
    display: block;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: var(--box-shadow);
  }
  .prose {
    width: 720px;
    max-width: calc(100% - 2em);
    margin: auto;
    padding: 1em;
    color: rgb(var(--gray-dark));
  }
  .title {
    margin-bottom: 1em;
    padding: 1em 0;
    text-align: center;
    line-height: 1;
  }
  h1 {
    margin: 0 0 0.5em 0;
    font-family: 'Press Start 2P', system-ui;
  }
  .date {
    margin-bottom: 0.5em;
    color: rgb(var(--gray));
  }
  .last-updated-on {
    font-style: italic;
  }
  *,
  ::after,
  ::before,
  ::backdrop {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
  }

  ::selection {
    background-color: var(--accent-color);
    color: black;
  }
</style>
